<!-- home.component.html -->
<app-search></app-search>
<app-tag-filter [foods]="foods"></app-tag-filter>

<app-not-found [visible]="!foods || foods.length <= 0" resetLinkText="Reset"></app-not-found>
<div class="container">
<div *ngIf="foods && foods.length> 0">
    <div *ngFor="let food of foods" class="card">
        <img [src]="food.imageUrl" alt="food images" width="100" height="100"/>
          <h3>{{ food.name }}</h3>
          <p>{{ food.price | currency: 'INR' }}</p>
          <button (click)="addToCart(food)" class="Add">Add To Cart</button>
        </div>
      </div>
  </div>
<app-footer></app-footer>